NEXT_PUBLIC_SANITY_PROJECT_ID=your_project_id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
SANITY_WEBHOOK_SECRET=
RESEND_API_KEY=
RESEND_NEWSLETTER_SEGMENT_ID_EN=
RESEND_NEWSLETTER_SEGMENT_ID_RU=
RESEND_NEWSLETTER_SEGMENT_ID_UA=
RESEND_FROM_EMAIL="RA Agency <newsletter@raagency.tech>"
NEXT_PUBLIC_SITE_URL=https://raagency.tech
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
